body {
  background-color: #ffffff;
  color: #515a5a;

  /*    make sure you set family and size on body*/
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 10px 0 20px 0;
}

h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  text-transform: uppercase;
  font-size: 25px;
  padding: 10px 0;
  letter-spacing: 1px;
  color: #000000;
  border-bottom: 5px solid #4c90a4;
}

h3 {
  font-size: 22px;
}

p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}

/* anchor styles */
a {
  color: #6bbfd6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #4c90a4;
}

a:active {
  color: yellow;
}

/* main containers */

.wrapper {
  width: 980px;
  /*    TOP RIGHT BOTTOM LEFT*/
  margin: 0 auto;
}

header {
  padding: 20px;
}

nav {
  float: right;
  margin-top: 40px;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  padding: 10px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav ul li a:hover,
nav ul li a.currentpage {
  background-color: #6bbfd6;
  text-decoration: none;
  color: #fff;
}

.hero {
  min-height: 400px;
  background-image: url(../img/churchill-house-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: #f5f5f5;
}

main {
  padding: 20px 0;
  overflow: auto;
}

.text-container {
  width: 70%;
}

footer {
  padding: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #00179c;
}

footer p {
  font-size: 90%;
  color: #000;
  text-align: center;
}

.leftimg {
  width: 65%;
  float: left;
  border: 1px solid grey;
  padding: 30px;
  background-color: white;
  margin: 20px 0;
}

@media screen and (max-device-width: 900px) {
  .grid{
    grid-template-columns: 1fr 1fr;
  }

}
@media sreen and (max-device-width: 600px) {
  .grid{
    display: grid;
  }
}